@model List<BDAS2_DvorakovaKahounova.Models.Pes>

<h2>Seznam psů k adopci</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            @* <th>ID</th> *@
            <th>Jméno</th>
            @* <th>Číslo čipu</th> *@
            <th>Datum narození</th>
            @* pridano ND *@
            <th>Barva</th>
            <th>Plemeno</th>
            <th>Vlastnosti</th>

            @* Zobrazit další informace pouze pro přihlášené uživatele *@
            @if (User.Identity.IsAuthenticated)
            {
                <th>Karanténa do</th>
                <th>Rezervace</th>
                
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var pes in Model)
        {
            <tr>
                @* <td>@pes.ID_PSA</td> *@
                <td>@pes.JMENO</td>
                @* <td>@pes.CISLO_CIPU</td> *@
                <td>@pes.NAROZENI.ToShortDateString()</td>
                <td>@pes.BARVA</td>
                <td>@pes.PLEMENO</td>
                <td>@pes.VLASTNOSTI</td>

                @* Další sloupce pro přihlášené uživatele *@
                @if (User.Identity.IsAuthenticated)
                {
                    
                    <td>@pes.KARANTENA_DO?.ToShortDateString()</td>
                    @* <td>@pes.REZERVOVANO</td> *@
                    <td>
                    @if (pes.REZERVOVANO != null)
                    {
                        <span>@pes.REZERVOVANO</span>  @* Zobrazí text, pokud je rezervován *@
                    }
                    else
                    {
                        <button class="btn btn-primary">Rezervovat</button>  @* Zobrazí tlačítko, pokud není rezervován *@
                    }
                    </td>
                }
            </tr>
        }
    </tbody>
</table>