@model List<BDAS2_DvorakovaKahounova.Models.Pes>

@{
    ViewData["Title"] = "MujPes";
}

<h1>Vaši psi</h1>
<div class="container-mujpes">
    <img src="/images/pes.jpg" alt="Fotka psa" class="img">
    <div class="info-mujpes">
        <h2>Jméno psa: Rex</h2>
        <p><strong>Rasa:</strong> Německý ovčák</p>
        <p><strong>Věk:</strong> 5 let</p>
        <p><strong>Oblíbené aktivity:</strong> Běhání, aportování, plavání</p>
        <p><strong>Popis:</strong> Rex je energický a přátelský pes, který miluje společnost a dlouhé procházky.</p>
    </div>
</div>


<h1>Vaši psi</h1>
@foreach (var pes in Model)
{
    <div class="container-mujpes">
        @* <img src="/images/pes.jpg" alt="Fotka psa" class="img"> *@
        <div>
        @* <img src="@Url.Action(pes.ID_FOTOGRAFIE == null ? "DefaultImage" : "GetImage", "Pes", new { id = pes.ID_FOTOGRAFIE })" alt="Fotka psa" class="img"> *@
            @{
                string imageUrl = pes.ID_FOTOGRAFIE != null
                ? Url.Action("GetImage", "Pes", new { id = pes.ID_FOTOGRAFIE })
                : Url.Action("DefaultImage", "Pes");
            }

            <img src="@imageUrl" alt="Fotka psa" class="img">


        <form asp-action="UploadImage" method="post" enctype="multipart/form-data">
            <input type="hidden" name="pesId" value="@pes.ID_PSA" />
            <input type="file" name="imageFile" accept="image/*" required />
            <button type="submit">Přidat obrázek</button>
        </form>
        </div>
        <div class="info-mujpes">
            <h2><strong>Jméno psa: </strong> @pes.JMENO</h2>
            <p><strong>Rasa:</strong> @pes.PLEMENO</p>
            <p><strong>Věk:</strong> @(DateTime.Now.Year - pes.NAROZENI.Year) let</p>
            <p><strong>Číslo čipu:</strong> @pes.CISLO_CIPU</p>
            <p><strong>Oblíbené aktivity:</strong> Běhání, aportování, plavání</p>
            <p><strong>Popis:</strong> Rex je energický a přátelský pes, který miluje společnost a dlouhé procházky.</p>
        </div>
    </div>
}