@model List<BDAS2_DvorakovaKahounova.Models.Pes>

@{
	ViewData["Title"] = "PsiKAdopci";
}

<h1>Seznam psů k adopci</h1>

@foreach (var pes in Model)
{
    <div class="container-mujpes">
        <div>
            @{
                string imageUrl = pes.ID_FOTOGRAFIE != null
                ? Url.Action("GetImage", "Pes", new { id = pes.ID_FOTOGRAFIE })
                : Url.Action("DefaultImage", "Pes");
            }

            <img src="@imageUrl" alt="Fotka psa" class="img">
        </div>
        <div class="info-mujpes">
            <h2><strong>Jméno psa: </strong> @pes.JMENO</h2>
            <p><strong>Věk:</strong> @(DateTime.Now.Year - pes.NAROZENI.Year) let</p>
            @if (@pes.POHLAVI == "PES")
            {
                <p><strong>Pohlaví: &male;</strong></p>
            }
            @if (@pes.POHLAVI == "FENA")
            {
                <p><strong>Pohlaví: &female;</strong></p>
            }
            <p><strong>Plemeno:</strong> @pes.PLEMENO</p>
            <p><strong>Barva:</strong> @pes.BARVA</p>
            <p><strong>Vlastnosti:</strong> @pes.VLASTNOSTI</p>

            @if (User.Identity.IsAuthenticated)
            {
                <p class="karantena-info">
                    <strong>Karanténa do:</strong> @pes.KARANTENA_DO?.ToShortDateString()
                    <span class="tooltip-icon">?</span>
                    <span class="tooltip-text">Datum, do kterého musí být pes v karanténě z důvodu ochrany zdraví ostatních zvířat a lidí.</span>
                </p>
                <p>
                    @if (pes.REZERVOVANO != null)
                    {
                        <strong>Rezervace: </strong><span>@pes.REZERVOVANO</span>
                    }
                    else
                    {
                        <button class="btn btn-primary">Rezervovat</button>
                    }
                </p>
            }
        </div>
    </div>
}

 