 @model BDAS2_DvorakovaKahounova.Models.Pes

@{
    ViewData["Title"] = "VyriditRezervaci";
}

<h1>Vyhledání rezervace psa</h1>
<div class="container-rezervace">
    <form method="post" action="/Rezervace/VyriditRezervaci">
        <div class="input-container-rezervace">
            <input type="text" id="reservationCode" name="rezervaceKod" placeholder="Zadejte kód rezervace" class="input-container-rezervace">
        </div>
        <button type="submit" class="btn btn-rezervace">Vyhledat psa</button>
    </form>

    <!-- Zobrazení výsledku -->
    
        <div id="result" class="result">
        @if (ViewBag.Message != null)
        {
            @if (ViewBag.Message.Contains("Pes nebyl nalezen.") || ViewBag.Message.Contains("Zadejte kód rezervace."))
            {
                <div>
                    <p>@ViewBag.Message</p>
                </div>
            }
            else
            {
            <div class="container-mujpes">
                <div>
                    @{
                        string imageUrl = Model.ID_FOTOGRAFIE != null
                        ? Url.Action("GetImage", "Pes", new { id = Model.ID_FOTOGRAFIE })
                        : Url.Action("DefaultImage", "Pes");
                    }

                    <img src="@imageUrl" alt="Fotka psa" class="img">

                </div>
                <div class="info-mujpes">
                    <h2><strong>Jméno psa: </strong> @Model.JMENO</h2>
                    @* třeba opravit pro možnost, že neznáme narození psa *@
                    <p><strong>Věk:</strong> @(DateTime.Now.Year - Model.NAROZENI?.Year) let</p>
                    @if (@Model.POHLAVI == 0)
                    {
                        <p><strong>Pohlaví:  &male;</strong></p>
                    }
                    @if (@Model.POHLAVI == 1)
                    {
                        <p><strong>Pohlaví: &female;</strong></p>
                    }

                    <p><strong>Plemeno:</strong> @Model.PLEMENO</p>
                    <p><strong>Barva:</strong> @Model.BARVA</p>
                    <p><strong>Vlastnosti:</strong> @Model.VLASTNOSTI</p>
                    <p><strong>Číslo čipu:</strong> @Model.CISLO_CIPU</p>

                    <button onclick="processReservation()">Vyřídit rezervaci</button>
                </div>
            </div>
            }

        }
        </div>
</div>


<script>
    function processReservation() {
        // Můžete přidat logiku pro vyřízení rezervace, např. potvrzení
        alert("Rezervace byla vyřízena.");
    }
</script>

