 @model BDAS2_DvorakovaKahounova.Models.Pes

@{
    ViewData["Title"] = "VyriditRezervaci";
}

<h1>Vyhledání rezervace psa</h1>
<div class="container-rezervace">
    <form method="post" action="/Rezervace/VyriditRezervaci">
        <div class="input-container-rezervace">
            <input type="text" id="reservationCode" name="rezervaceKod" placeholder="Zadejte kód rezervace" maxlength="10"><p></p>
            <button type="submit" name="action" value="vyhledatPsa" class="btn-rezervace">Vyhledat psa</button>
        </div>
    </form>

    <!-- Zobrazení výsledku -->
    
        <div id="result" class="result">
        @if (ViewBag.Message != null)
        {
            @if (ViewBag.Message.Contains("Pes nebyl nalezen.") || ViewBag.Message.Contains("Zadejte kód rezervace."))
            {
                
            }
            else
            {
                <div class="container-mujpes">
                <div>
                    @{
                        string imageUrl = Model.ID_FOTOGRAFIE != null
                        ? Url.Action("GetImage", "Pes", new { id = Model.ID_FOTOGRAFIE })
                        : Url.Action("DefaultImage", "Pes");
                    }

                    <img src="@imageUrl" alt="Fotka psa" class="img">

                </div>
                <div class="info-mujpes">
                    <h2><strong>Jméno psa: </strong> @Model.JMENO</h2>
                        <p><strong>Věk:</strong> @(Model.NAROZENI.HasValue ? (DateTime.Now.Year - Model.NAROZENI.Value.Year) + " let" : "Není znám") </p>
                    @if (@Model.POHLAVI == 0)
                    {
                        <p><strong>Pohlaví:  &male;</strong></p>
                    }
                    @if (@Model.POHLAVI == 1)
                    {
                        <p><strong>Pohlaví: &female;</strong></p>
                    }
                    <p><strong>Plemeno:</strong> @Model.PLEMENO</p>
                    <p><strong>Barva:</strong> @Model.BARVA</p>
                    <p><strong>Vlastnosti:</strong> @Model.VLASTNOSTI</p>
                    <p><strong>Číslo čipu:</strong> @Model.CISLO_CIPU</p>


                        @if (ViewBag.KarantenaStatus != null)
                        {
                            if (ViewBag.KarantenaStatus.Contains("Karanténa ukončena"))
                            {
                                <form method="post">
                                    <input type="hidden" name="idPes" value="@Model.ID_PSA" />
                                    <input type="hidden" name="majitelIdOsoba" value="@Model.ID_MAJITEL" />
                                    <button type="submit" name="action" value="vyresitRezervaci" class="btn-rezervace2" onclick="processReservation()">Vyřídit rezervaci</button>
                                </form>
                            }
                            else
                            {
                                <p>@ViewBag.KarantenaStatus</p>
                            }
                        }

                </div>
            </div>
            }

        }
        </div>
</div>


<script>
    function processReservation() {
        alert("Rezervace byla vyřízena.");
    }
</script>

<script>
    // Kontrola, zda existuje nějaká zpráva v ViewBag
    @if (ViewBag.Message != null)
    {
        <text>
                alert('@Html.Raw(ViewBag.Message)'.replace(/'/g, "\\'"));
        </text>
    }
</script>


@* <script>
        // Funkce pro převod malých písmen na velká při zadávání
        function convertToUpperCase(input) {
            input.value = input.value.toUpperCase(); // Převod na velká písmena
        }

    // Funkce pro validaci a filtrování inputu
    function filterInput(event) {
        const input = event.target;
        // Zajistí, že se do inputu mohou zadávat pouze velká písmena a čísla
        input.value = input.value.replace(/[^A-Z0-9]/g, '');
    }

    // Funkce, která bude volána při ztrátě focusu (blur) na inputu
    document.getElementById("reservationCode").addEventListener("blur", function () {
        // Převod malých písmen na velká písmena při opuštění inputu
        convertToUpperCase(this);
        // Dále můžeš přidat další logiku pro validaci, pokud je to potřeba
    });
</script> *@