@model BDAS2_DvorakovaKahounova.Models.PesMajitelModel
@{
    var barvyList = ViewData["Barvy"] as List<BDAS2_DvorakovaKahounova.Models.Barva>;
    var plemenaList = ViewData["Plemena"] as List<BDAS2_DvorakovaKahounova.Models.Plemeno>;
    var duvodyList = ViewData["Duvody"] as List<BDAS2_DvorakovaKahounova.Models.DuvodPobytu>;
}

@{
    ViewData["Title"] = "PridatPsa";
}
<h1>Přidat psa</h1>
    
<form method="post">
    <div>
        <label for="cisloCipu">Číslo čipu:</label>
        <input type="text" id="cisloCipu" name="cisloCipu" value="@ViewBag.CisloCipu" required />
    </div>
    <button type="submit" name="action" value="search">Vyhledat</button>
</form>

<form method="post">
    <button type="submit" name="action" value="nochip">Pes bez čipu</button>
</form>

@if (ViewBag.Message != null)
{
    <div>
        <p>@ViewBag.Message</p>
    </div>
}


@if (ViewBag.ShowForm == true)  
{
<form method="post" enctype="multipart/form-data">

        <!-- Skryté pole pro číslo čipu -->
        <input type="hidden" id="hiddenCisloCipu" name="cisloCipu" value="@ViewBag.CisloCipu" />

    <div>
        <label for="jmeno">Jméno psa:</label>
            <input type="text" id="jmeno" name="jmeno" value="@Model.Pes?.JMENO ?? " Neznámé"" />
    </div>
        <!-- Datum narození -->
        <div>
            <label for="datumNarozeni">Datum narození:</label>
            <input type="date" id="datumNarozeni" name="datumNarozeni" />
        </div>
    <!-- Combobox pro barvu -->
    <div>
        <label for="barva">Barva:</label>
        <select id="barva" name="barva">
            @if (barvyList != null && barvyList.Any())
            {
                @foreach (var barva in barvyList)
                {
                    <option value="@barva.Id">@barva.Nazev</option>
                }
            }
            else
            {
                <p>Žádné barvy k dispozici.</p>
            }
        </select>
    </div>

    <!-- Combobox pro plemeno -->
    <div>
        <label for="plemeno">Plemeno:</label>
        <select id="plemeno" name="plemeno">
            @if (plemenaList != null && plemenaList.Any())
            {
                @foreach (var plemeno in plemenaList)
                {
                    <option value="@plemeno.Id">@plemeno.Nazev</option>
                }
            }
            else
            {
                <option disabled>Žádná plemena k dispozici</option>
            }
        </select>
    </div>
    <!-- Combobox pro pohlaví -->
        <div>
            <label for="pohlavi">Pohlaví:</label>
            <select id="pohlavi" name="pohlavi">
                <option value="0">Pes</option> <!-- 0 pro psa -->
                <option value="1">Fena</option> <!-- 1 pro fenu -->
            </select>
        </div>
    <!-- Combobox pro důvod pobytu -->
    <div>
        <label for="duvodPobytu">Důvod pobytu:</label>
        <select id="duvodPobytu" name="duvodPobytu">
            @if (duvodyList != null && duvodyList.Any())
            {
                @foreach (var duvod in duvodyList)
                {
                    <option value="@duvod.Id">@duvod.Nazev</option>
                }
            }
            else
            {
                <option disabled>Žádné důvody pobytu k dispozici</option>
            }
        </select>
    </div>

    <!-- Datum začátku pobytu -->
    <div>
        <label for="zacatekPobytu">Začátek pobytu:</label>
        <input type="date" id="zacatekPobytu" name="zacatekPobytu" required />
    </div>

    <!-- Váha -->
    <div>
        <label for="vaha">Váha (kg):</label>
        <input type="number" id="vaha" name="vaha" required />
    </div>

        <!-- Vlastnosti -->
        <div>
            <label>Vlastnosti:</label>
            <div>
                @if (ViewData["Vlastnosti"] is List<Vlastnost> vlastnosti && vlastnosti.Any())
                {
                    foreach (var vlastnost in vlastnosti)
                    {
                        <div>
                            <input type="checkbox" id="vlastnost_@vlastnost.Id" name="vlastnosti[]" value="@vlastnost.Id" />
                            <label for="vlastnost_@vlastnost.Id">@vlastnost.Nazev</label>
                        </div>
                    }
                }
                else
                {
                    <p>Žádné vlastnosti nejsou k dispozici.</p>
                }
            </div>
        </div>


    <!-- Tlačítko pro přidání fotografie -->
    <div>
        <label for="fotografie">Fotografie:</label>
        <input type="file" id="fotografie" name="fotografie" />
    </div>

        <button type="submit" name="action" value="createDog">Přidat psa</button>
    </form>
}

@if (ViewBag.ShowForm == false)
{
    <div class="container-mujpes">
        <div>
            @{
                string imageUrl = @Model.Pes.ID_FOTOGRAFIE != null
                ? Url.Action("GetImage", "Pes", new { id = @Model.Pes.ID_FOTOGRAFIE })
                : Url.Action("DefaultImage", "Pes");
            }

            <img src="@imageUrl" alt="Fotka psa" class="img">

        </div>
        <div class="info-mujpes">
            <h2><strong>Jméno psa: </strong> @Model.Pes.JMENO</h2>
            @* třeba opravit pro možnost, že neznáme narození psa *@
            <p><strong>Věk:</strong> @(DateTime.Now.Year - @Model.Pes.NAROZENI?.Year) let</p>
            @if (@Model.Pes.POHLAVI == 0)
            {
                <p><strong>Pohlaví:  &male;</strong></p>
            }
            @if (@Model.Pes.POHLAVI == 1)
            {
                <p><strong>Pohlaví: &female;</strong></p>
            }

            <p><strong>Plemeno:</strong> @Model.Pes.PLEMENO</p>
            <p><strong>Barva:</strong> @Model.Pes.BARVA</p>
            <p><strong>Vlastnosti:</strong> @Model.Pes.VLASTNOSTI</p>
            <p><strong>Číslo čipu:</strong> @Model.Pes.CISLO_CIPU</p>
            
            <button onclick="pridatPobyt()">Přidat pobyt</button>
        </div>


        @if (@Model.Majitel.EMAIL != null)
        {
            <table>
                <tr>
                    <td><strong>Jméno:</strong></td>
                    <td>@Model.Majitel.JMENO</td>
                </tr>
                <tr>
                    <td><strong>Příjmení:</strong></td>
                    <td>@Model.Majitel.PRIJMENI</td>
                </tr>
                <tr>
                    <td><strong>Telefon:</strong></td>
                    <td>@Model.Majitel.TELEFON</td>
                </tr>
                <tr>
                    <td><strong>Email:</strong></td>
                    <td>@Model.Majitel.EMAIL</td>
                </tr>
            </table>
        }
        



        <!-- Combobox pro důvod pobytu -->
        <div>
            <label for="duvodPobytu">Důvod pobytu:</label>
            <select id="duvodPobytu" name="duvodPobytu">
                @if (duvodyList != null && duvodyList.Any())
                {
                    @foreach (var duvod in duvodyList)
                    {
                        <option value="@duvod.Id">@duvod.Nazev</option>
                    }
                }
                else
                {
                    <option disabled>Žádné důvody pobytu k dispozici</option>
                }
            </select>
        </div>

        <!-- Datum začátku pobytu -->
        <div>
            <label for="zacatekPobytu">Začátek pobytu:</label>
            <input type="date" id="zacatekPobytu" name="zacatekPobytu" required />
        </div>

        <!-- Váha -->
        <div>
            <label for="vaha">Váha (kg):</label>
            <input type="number" id="vaha" name="vaha" required />
        </div>


    </div>
}