@model BDAS2_DvorakovaKahounova.Models.PesMajitelModel

@{
    ViewData["Title"] = "VyriditAdopci";
}

<h1>Vyřídit Adopci</h1>

<div class="input-container-rezervace">
	<form method="post">
		<input type="hidden" name="idPes" value="@Model.Pes.ID_PSA" />
		<input type="text" id="email" name="email" value="@ViewBag.Email"
			   required placeholder="Zadejte email žadatele o adopci"
			   @* oninput="this.setCustomValidity('')" *@ /><p></p>
		<button type="submit" class="btn-rezervace" name="action" value="search">Vyhledat</button>
	</form>
</div>

<div class="info-majitel">
@* @if (Model?.Majitel?.EMAIL != null) *@
@if (@Model?.Majitel?.EMAIL != null)
{
	<p><strong>Majitel:</strong> @Model.Majitel.JMENO @Model.Majitel.PRIJMENI</p>
	@* <p><strong>Telefon:</strong> @Model.Majitel.TELEFON</p>
	<p><strong>Email:</strong> @Model.Majitel.EMAIL</p> *@

		<div class="container-profil3">
			<input type="checkbox" id="toggle-info" />
			<span class="eye" onclick="toggleVisibility()">
				<img src="~/images/eye-close.png" alt="Eye Icon" class="eye-icon">
			</span> <!-- Symbol pro oko -->
			<span class="eye-slash" onclick="toggleVisibility()">
				<img src="~/images/eye.png" alt="Eye Icon" class="eye-icon">
			</span> <!-- Symbol pro oko se škrtnutím -->
		</div>
		
		<div id="info-container">
			<p><strong>Email: </strong><span id="email2" style="display:none;">@Model.Majitel.EMAIL</span></p>
			<p><strong>Telefon: </strong><span id="telefon" style="display:none;">@Model.Majitel.TELEFON</span></p>
		</div>

		

	<form method="post">
		<input type="hidden" name="idPes" value="@Model.Pes.ID_PSA" />
		<input type="hidden" name="majitelIdOsoba" value="@Model.Majitel.ID_OSOBA" />
		<button type="submit" class="btn btn-primary" name="action" value="adoptovatPsa">Adoptovat psa</button>
	</form>
}
else if (ViewBag.ErrorMessage != null)
{
	@* <p>Osoba nenalezena. Žadatel o adopci se musí nejprve zaregistrovat.</p>
        <a href="@Url.Action("Register", "Osoba")" class="btn btn-primary">Registrovat se</a> *@
		<script type="text/javascript">
			alert('Osoba nenalezena. Žadatel o adopci se musí nejprve zaregistrovat.');
		</script>
		<a href="@Url.Action("Register", "Osoba")" class="btn btn-primary">Přejít k registraci</a>
}

</div>

<script>
	// Funkce pro přepínání zobrazení informací
	function toggleVisibility() {
		var email2 = document.getElementById('email2');
		var telefon = document.getElementById('telefon');
		var eye = document.querySelector('.eye');
		var eyeSlash = document.querySelector('.eye-slash');

		// Pokud je "oko" zobrazené, skryjeme informace, jinak je zobrazíme
		if (email2.style.display === 'none' || telefon.style.display === 'none') {
			email2.style.display = 'inline';
			telefon.style.display = 'inline';
			eye.style.display = 'none'; // Skrýt "oko"
			eyeSlash.style.display = 'inline'; // Zobrazit "oko se škrtnutím"
		} else {
			email2.style.display = 'none';
			telefon.style.display = 'none';
			eye.style.display = 'inline'; // Zobrazit "oko"
			eyeSlash.style.display = 'none'; // Skrýt "oko se škrtnutím"
		}
	}
</script>