@model List<BDAS2_DvorakovaKahounova.Models.Osoba>

@{
	ViewData["Title"] = "Emulace";
}

<h1>Emulace</h1>

<h2>Vyberte uživatele k emulaci</h2>

<form asp-action="ResetRole" method="post" class="button-form">
	<button class="btn btn-primary" type="submit">Zrušit emulaci</button>
</form>

@if (ViewBag.Error == null)
{

	<div class="emaulce-page">

		<table class="emulace-table">
			<thead>
				<tr>
					<th>Jméno</th>
					<th>Příjmení</th>
					<th>Typ osoby</th>
					<th>Email</th>
					<th>Emulovat</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var osoba in Model)
				{
					<tr>
						<td>@osoba.JMENO</td>
						<td>@osoba.PRIJMENI</td>
						<td>
							@switch (@osoba.TYP_OSOBY)
							{
								case "R":
									<text> Rezervátor</text>
									break;
								case "M":
									<text> Majitel</text>
									break;
								case "U":
									<text> Přihlášený uživatel</text>
									break;
								case "C":
									<text> Chovatel</text>
									break;
								case "P":
									<text> Rezervátor i majitel</text>
									break;
								case "A":
									<text> Administrátor</text>
									break;
								default:
									<text> Neznámý typ</text>
									break;
							}
						</td>
						<td>@osoba.EMAIL</td>
						<td>
							<form asp-action="Emulovat" method="post" class="button-form">
								<input type="hidden" name="userId" value="@osoba.ID_OSOBA" />
								<button class="btn btn-primary" type="submit">Emulovat</button>
							</form>
						</td>
					</tr>
				}
			</tbody>
		</table>

	</div>
}
else
{
	<h3>ViewBag.Error</h3>
}