@{
	ViewData["Title"] = "Vyhledavani";
}

<h1>Vyhledávání</h1>

@if (TempData["ErrorMessage"] != null)
{
	@* <div class="alert alert-danger">
		@TempData["ErrorMessage"]
	</div> *@

	<div class="alert alert-danger alert-dismissible fade show" role="alert">
		<strong>Chyba!</strong> @TempData["ErrorMessage"]
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>

}

<form method="post" asp-action="Search">
	<label for="tableSelect">Vyberte tabulku:</label>
	<select name="selectedTable" id="tableSelect">
		<option value="">-- Vyberte tabulku --</option>
		@foreach (var tableName in ViewBag.TableNames as List<string>)
		{
			<option value="@tableName">@tableName</option>
		}
	</select>

	<label for="searchQuery">Vyhledat:</label>
	<input type="text" name="searchQuery" id="searchQuery" placeholder="Zadejte hledaný text" />

	<button type="submit">Hledat</button>
</form>

@if (ViewBag.HasSearched)
{
	@if (ViewBag.SearchResults != null && ((List<Dictionary<string, string>>)ViewBag.SearchResults).Any())
	{
		<h2>Výsledky hledání v tabulce @ViewBag.SelectedTable:</h2>
		<table>
			<thead>
				<tr>
					@foreach (var key in ((List<Dictionary<string, string>>)ViewBag.SearchResults)[0].Keys)
					{
						<th>@key</th>
					}
				</tr>
			</thead>
			<tbody>
				@foreach (var row in ViewBag.SearchResults as List<Dictionary<string, string>>)
				{
					<tr>
						@foreach (var value in row.Values)
						{
							<td>@value</td>
						}
					</tr>
				}
			</tbody>
		</table>
	}
	else if (ViewBag.NoResultsMessage != null)
	{
		<br />
		<h3>@ViewBag.NoResultsMessage</h3>
	}
}
