@{
	ViewData["Title"] = "Vyhledavani";
}

<h1>Vyhledávání</h1>
<div class="search-page">

@* @if (TempData["ErrorMessage"] != null)
{ *@
	@* <div class="alert alert-danger">
		@TempData["ErrorMessage"]
	</div> *@

	@* <div class="alert alert-danger alert-dismissible fade show" role="alert">
		<strong>Chyba!</strong> @TempData["ErrorMessage"]
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>

} *@

	@if (TempData["ErrorMessage"] != null)
	{
		<script>
			alert("@Html.Raw(System.Web.HttpUtility.JavaScriptStringEncode(TempData["ErrorMessage"].ToString()))");
		</script>
	}

	<div class="search-container">
<form method="post" asp-action="Search">
	
	<label for="tableSelect">Vyberte tabulku:</label>
	<select name="selectedTable" id="tableSelect">
		<option value="">-- Vyberte tabulku --</option>
		@foreach (var tableName in ViewBag.TableNames as List<string>)
		{
			<option value="@tableName">@tableName</option>
		}
	</select>

	<label for="searchQuery">Vyhledat:</label>
	<input type="text" name="searchQuery" id="searchQuery" placeholder="Zadejte hledaný text" />

	<button type="submit">Hledat</button>
</form>
	</div>

@if (ViewBag.HasSearched != null && ViewBag.HasSearched)
{
	@if (ViewBag.SearchResults != null && ((List<Dictionary<string, string>>)ViewBag.SearchResults).Any())
	{
		<h2>Výsledky hledání v tabulce @ViewBag.SelectedTable:</h2>
			<div class="table-wrapper">
		<table class="search-table">
			<thead>
				<tr>
					@foreach (var key in ((List<Dictionary<string, string>>)ViewBag.SearchResults)[0].Keys)
					{
						<th>@key</th>
					}
				</tr>
			</thead>
			<tbody>
				@foreach (var row in ViewBag.SearchResults as List<Dictionary<string, string>>)
				{
					<tr>
						@foreach (var value in row.Values)
						{
							<td>@value</td>
						}
					</tr>
				}
			</tbody>
		</table>
		</div>
	}
	else if (ViewBag.NoResultsMessage != null)
	{
		<br />
		<h3>@ViewBag.NoResultsMessage</h3>
	}
}



<h2>Vyhledání zaměstnance a jeho podřízených</h2>
	<div class="search-container">
<form method="post" asp-action="SearchHierarchy">
	<label for="zamestnanecSelect">Vyberte zaměstnance:</label>
	<select name="idOsoba" id="zamestnanecSelect">
		<option value="">-- Vyberte zaměstnance --</option>
		@foreach (var osoba in ViewBag.Zamestnanci as List<Osoba>)
		{
			<option value="@osoba.ID_OSOBA">@osoba.JMENO @osoba.PRIJMENI</option>
		}
	</select>

	<button type="submit">Zobrazit zaměstnance</button>
</form>
</div>

@if (ViewBag.HasSearchedHierarchy != null && ViewBag.HasSearchedHierarchy)
{
	@if (ViewBag.HierarchyResults != null && ((List<Osoba>)ViewBag.HierarchyResults).Any())
	{
		<h3>Nalezení zaměstnanci:</h3>
		<table class="search-table">
			<thead>
				<tr>
					<th>ID</th>
					<th>Jméno</th>
					<th>Příjmení</th>
					<th>Telefon</th>
					<th>Email</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var osoba in (List<Osoba>)ViewBag.HierarchyResults)
				{
					<tr>
						<td>@osoba.ID_OSOBA</td>
						<td>@osoba.JMENO</td>
						<td>@osoba.PRIJMENI</td>
						<td>@osoba.TELEFON</td>
						<td>@osoba.EMAIL</td>
					</tr>
				}
			</tbody>
		</table>
	}
	else
	{
		<h3>Žádní podřízení nebyli nalezeni pro ID @ViewBag.SearchedId.</h3>
	}
}
</div>